# PostgreSQL configurations
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your-secure-password
POSTGRES_SOURCE_DB=postgres_source
POSTGRES_TARGET_DB=postgres_target

# Kafka configurations
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_TOPIC=dbserver1.public.patent
